@media screen and (max-width: 340px) {
    .table {
        width: 100%;
    }

    .table {
        width: 100% !important;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 560px) {
    .table {
        width: 100%;
    }
}

@media screen and (max-width: 1045px) {
    .table {
        flex-direction: column;
    }

    .table {
        width: 90%;
    }
}