body {
    background-color: rgb(168, 158, 204);
    /* background: url("./images/pexels-guilherme-rossi-1819669.jpg") */
}

@media screen and (max-width: 1080px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* nav {
        margin-left: 0;
    } */
}

@media screen and (max-width: 560px) {

    .dashboard-header h1,
    .create-res-header {
        width: 100%;
    }
}